.App {
  text-align: center;
}


.arrangement{
  display: grid;
  height: 200px;
  width: 200px;
  justify-content: space-evenly;
  margin: 40px;
  background-color: lavender;
  
}
.allauthors{
  display: grid;
  height: 200px;
  width: 200px;
  justify-content: space-evenly;
  margin: 40px;
  background-color: lavender;
}